General
.DS_Store
Thumbs.db
*.log

Node dependencies
node_modules/
npm-debug.log*

Python
pycache/
*.py[cod]
venv/

IDE specific
.idea/
.vscode/

Build files
dist/
build/

Environment files
.env
.env.local

